$colorPrimary:#204486;
$colorBlueLight: #0071B9;
$colorPrimaryLight: #4D699E;
$colorAccent: #DF195C;
$colorAccentDark: #D61858;
$colorActive: #1dbf73;
$colorTertiary: #F1C300;
$colorAdditional: #C6BCD0;
$colorText: #555555;
$colorShadow: #e4e5e7;
$colorDarkGrey: #444444;
$colorTextonAccent: #fff;
$colorSuccess: #5cb85c;
$colorWarning: #f0ad4e;
$colorInfo: #5bc0de;
$colorDanger: #d9534f;
$colorDangerDark: #b13c38;
$color-black:#000;
$color-light-green:#37bf70;
$gray-background:#f1f1f1;
$color-white:#fff;
$color-red:#d9534f;
$color-icons:#a1a1a1;
$headingBackgroundColor: #fafafa;
$appBackground: #f8f8f8;
$borderColor: rgba(0, 0, 0, 0.12);
$color-signup-input:#555555;
// Added by ravi for Signup page
$login-background:#f0eeef;
$color-counting:#214486;
$counting-bg:#f2c200;
$color-deleteicon-disable: #d3d3d3;
$font-44: 44px;
$font-21: 21px;
$font-26: 26px;
$font-18: 18px;
$font-12: 12px;
// Added by ravi for Signup page
$blur: 8px;
$font-xxxl: 24px;
$font-larger: 22px;
$font-card-header: 16px;
$font-extra-large: 17px;
$font-large: 16px;
$font-medium:15px;
$font-small:14px;
$font-extra-small:13px;
$icon-max: 90px;
$icon-big: 30px;
$icon-medium: 24px;
$icon-small: 20px;
$regular:400;
$semibold:600;
$bold:700;