@import './../../../styles/variable';
@import './../../../styles/mixin';

.upload-label {
    font-size: $font-small;
    align-self: center;
    .fas {
        // color: $colorPrimary;
        cursor: pointer;
    }
}
.doc-ctn {
    display: flex;
    overflow: hidden;
}
.upload-button {
    display: flex;
    flex: none;
    color: $color-white;
    background-color: $colorBlueLight;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 0px 28px;
    height: 28px;
    line-height: 28px;
    // align-items: center;
    margin-right: 8px;
    cursor: pointer;
    .k-upload-loader, .fas {
        margin: auto;
        margin-left: 8px;
        // line-height: 28px !important;
    }
}
.k-upload-loader {
    color: $color-white !important;
}