@import './../../../../styles/variable';
@import './../../../../styles/mixin';
@import './../../../../styles/custom';


.sn-grp {
    display: flex;
    align-items: center;
    .width-90 {
        width: 90%;
    }
    .far, .fas {
        font-size: $icon-small;
        margin-left: 8px;
    }
    .fas {
        cursor: pointer;
        &:hover {
            color: $colorBlueLight;
        }
    }
    .decrypted {
        color: $colorBlueLight;
    }
}
.fa-check-circle {
    color: $color-light-green;
}
.fa-times-circle {
    color: $color-red;
}