<div class="wrapper">
  <div class="data-wrap" *ngIf="metadata">
    <div class="login-container">
      <img class="logo" [src]="'./../../../assets/crawford_logo_color.png'" />
      <div class="logo-name">{{ metadata.IH_Reset_Password_App_Title }}</div>
      <div class="shad-card" *ngIf="metadata && !isRequested">
        <h3 class="title">{{ metadata.IH_Reset_Password_Header }}</h3>
        <p class="info">{{ metadata.IH_Reset_Password_Body }}</p>
        <div class="form-group">
          <input class="inde-input" kendoTextBox [formControl]="sendEmail" type="email"
            [placeholder]="metadata.IH_Reset_Password_Box" maxlength="50" />
          <div *ngIf="sendEmail.touched && sendEmail.errors">
            <div class="error" *ngIf="sendEmail.errors.required">
              {{ metadata.IH_Reset_Password_Box }} {{ validations.IH_Required }}
            </div>
            <div class="error" *ngIf="sendEmail.errors.pattern">
              {{ metadata.IH_Reset_Password_Box }} {{ validations.IH_Invalid }}
            </div>
            <div class="error" *ngIf="sendEmail.errors.notAllowed">
              {{ errMsg }}
            </div>
          </div>
        </div>

        <button type="submit" class="btn" [class.disable]="loader" (click)="requestResetPassword()">
          <ng-container *ngIf="!loader || !sendEmail.valid">{{
            metadata.IH_Reset_Password_Button
          }}</ng-container>
          <i *ngIf="loader && sendEmail.valid" class="fas fa-sync spin"></i>
        </button>
        <div class="login">
          {{ metadata.IH_Reset_Password_Footer }}
          <a [routerLink]="'/auth/login'" [class.disable]="loader">{{
            metadata.IH_Reset_Password_Click
          }}</a>
        </div>
      </div>

      <div class="shad-card" *ngIf="isRequested">
        <i class="far fa-check-circle fa-4x"></i>
        <h3 class="title">{{ metadata.IH_Reset_Password_Message }}</h3>
        <div class="first-line">{{ metadata.IH_Reset_Password_Reset }}</div>
        <button type="submit" [routerLink]="['/auth/login']" class="btn">
          {{ metadata.IH_Reset_Password_Login }}
        </button>
      </div>
    </div>
    <inde-footer></inde-footer>
  </div>
</div>