<div class="wrapper">
  <div class="container">
    <div class="login-container" *ngIf="metadata">
      <img class="logo" [src]="'./../../../assets/crawford_logo_color.png'" />
      <div class="logo-name">{{metadata.IH_Reset_Password_Confirmation_App_Title}}</div>
      <div class="shad-card" *ngIf="!passwordStatus">
        <h3 class="title">
          {{ metadata.IH_Reset_Password_Confirmation_Header }}
        </h3>
        <div class="filler-text">
          {{ metadata.IH_Reset_Password_Confirmation_Reset_Password }}
        </div>
        <form [formGroup]="changePasswordForm" (ngSubmit)="resetPassword()">
          <div class="form-group eye-pos">
            <input class="inde-input" kendoTextBox formControlName="newPassword"
              [type]="(isDecrypted)?'password':'text'" maxlength="20"
              [placeholder]="metadata.IH_Reset_Password_Confirmation_Box_1" />
            <div class='eye-icon'>
              <i class="fas fa-eye" *ngIf="isDecrypted" (click)='isDecrypted = false'></i>
              <i class="fas fa-eye-slash" *ngIf="!isDecrypted" (click)='isDecrypted = true'></i>
            </div>
            <div *ngIf="keys.newPassword.touched && keys.newPassword.errors">
              <div class="error" *ngIf="keys.newPassword.errors.required">
                {{ metadata.IH_Reset_Password_Confirmation_Password }} {{ validations.IH_Required }}
              </div>
              <div class="error" *ngIf="
                  keys.newPassword.errors.pattern ||
                  keys.newPassword.errors.minlength
                ">
                {{ metadata.IH_Reset_Password_Confirmation_Password_contain }}
                <br />
                <ng-container *ngIf="keys['newPassword'].errors.minlength">-
                  {{ metadata.IH_Reset_Password_Confirmation_10_characters }}
                  <br /></ng-container>
                <ng-container *ngIf="keys['newPassword'].errors.pattern">
                  - {{ metadata.IH_Reset_Password_Confirmation_1_upper_case }}
                  <br />
                  - {{ metadata.IH_Reset_Password_Confirmation_1_lower_case }}
                  <br />
                  - {{ metadata.IH_Reset_Password_Confirmation_1_alphanumeric_character }}
                  <br />
                  - {{ metadata.IH_Reset_Password_Confirmation_1_special_character}}
                  <br />
                </ng-container>
              </div>
            </div>
          </div>
          <div class="form-group eye-pos">
            <input class="inde-input" kendoTextBox [type]="(isDecryptedConfirm)?'password':'text'"
              [placeholder]="metadata.IH_Reset_Password_Confirmation_Box_2" formControlName="confirmPassword" />
            <div class='eye-icon'>
              <i class="fas fa-eye" *ngIf="isDecryptedConfirm" (click)='isDecryptedConfirm = false'></i>
              <i class="fas fa-eye-slash" *ngIf="!isDecryptedConfirm" (click)='isDecryptedConfirm = true'></i>
            </div>
            <div *ngIf="
                keys['confirmPassword'].touched &&
                keys['confirmPassword'].errors
              ">
              <div class="error" *ngIf="keys['confirmPassword'].errors.required">
                {{ "Confirm password" }} {{ validations.IH_Required }}
              </div>
            </div>
            <div class="error" *ngIf="
                changePasswordForm.errors?.mismatch &&
                keys['confirmPassword'].touched
              ">
              {{ metadata.IH_Reset_Password_Confirmation_Password_no_match }}
            </div>
            <div class="error" *ngIf="changePasswordForm.errors?.isUsed">
              {{ metadata.IH_Reset_Password_Confirmation_Password_Check }}
            </div>
          </div>
          <button type="submit" class="btn" [class.disable]="loader">
            <ng-container *ngIf="!loader || !changePasswordForm.valid">{{
              metadata.IH_Reset_Password_Confirmation_Reset_Button
            }}</ng-container>
            <i *ngIf="loader && changePasswordForm.valid" class="fas fa-sync spin"></i>
          </button>
        </form>
      </div>

      <div class="shad-card" *ngIf="passwordStatus == 1">
        <i class="far fa-check-circle fa-4x"></i>
        <h3 class="title">
          {{ metadata.IH_Reset_Password_Confirmation_Success_Message }}
        </h3>
        <div class="first-line">
          {{ metadata.IH_Reset_Password_Confirmation_Suceess_Confirmation }}
        </div>
        <button type="submit" [routerLink]="['/auth/login']" class="btn">
          {{ metadata.IH_Reset_Password_Confirmation_Login }}
        </button>
      </div>

      <div class="shad-card" *ngIf="passwordStatus == 2">
        <i class="far fa-times-circle fa-4x"></i>
        <h3 class="title">
          {{ metadata.IH_Reset_Password_Confirmation_Link_expired }}
        </h3>
        <div class="first-line">
          {{ metadata.IH_Reset_Password_Confirmation_Try_new_link }}
        </div>
        <button type="submit" [routerLink]="['/auth/forget-password']" class="btn">
          {{ metadata.IH_Reset_Password_Confirmation_Forget_Password }}
        </button>
      </div>
    </div>
  </div>
</div>