<div class="wrapper">
    <div class="data-wrap">
      <div class="login-container">
        <img class="logo" [src]="'./../../../assets/crawford_logo_color.png'" />
        <div class="logo-name">{{ 'Crawford Inspection Services' }}</div>
        <div class="shad-card">
            <i class="far fa-times-circle fa-4x"></i>
            <h3 class="title">{{ 'Cookies disabled' }}</h3>
            <p class="info">{{ 'Hey, your browser cookies are disabled.' }}</p>
            <p class="info">{{ 'Either you can disable your cookies or try login with universal route again by clicking below' }}</p>
            <button class="btn" (click)="universalLogin()">Universal Login</button>
        </div>
    </div>
</div>